<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li th:each="queja: ${quejas}">
            <h1 th:text="${queja.text}"></h1>
            <p>Queja realizada por: </p>
            <p th:text="${queja.name}"></p>
            <p>Creada en:</p>
            <p th:text="${queja.createdAt}"></p>
        </li>
    </ul>
    <a href="/quejas/guardarForm">Nueva queja</a>
</body>
</html>